{
   "section":"News",
   "article":[
      {
         "title":"Corden: My hell over yell at Adele",
         "teaser":"BRITS EXCLUSIVE: HOST tells The Sun of his fury after ITV bosses forced him to cut short winner Adele's speech",
         "sectionheadline":"My hell over yell at Adele",
         "tickerheadline":"Corden: My Brits hell over yell at Adele",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNN2301ADE--5327_1458246b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/showbiz/bizarre/brits/4147520/The-Brits-James-Corden-reveals-anger-at-being-forced-to-cut-short-Adele-speech.html?iPadApp=true"
      },
      {
         "title":"Lauren and Jessica in Wright fight",
         "teaser":"TOWIE babe Jess in tears after row with her brother Mark Wright's ex, who claimed she had ruined their relationship",
         "sectionheadline":"Goodger and Wright fight",
         "tickerheadline":"Lauren Goodger and Jessica in Wright fight",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNF23TV01MW1---532_1458091b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/showbiz/tv/4147313/Towie-stars-Lauren-Goodger-and-Jessica-in-Mark-Wright-fight.html?iPadApp=true"
      },
      {
         "title":"Your Sunday service",
         "teaser":"YOUR super Sun will include new recruits Nancy Dell'Olio writing about style and telly chef James Martin on food",
         "sectionheadline":"Your Sunday service",
         "tickerheadline":"Your Sunday service",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061fa2b1-532_1458177b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147345/Your-Sunday-service.html?iPadApp=true"
      },
      {
         "title":"LEGEND OF NEWS DIES",
         "teaser":"FEARLESS Marie Colvin said to have been deliberately targeted by govt thugs for trying to tell the truth about atrocities",
         "sectionheadline":"War reporting legend killed",
         "tickerheadline":"Marie Colvin: They're killing with impunity here. I need to be at the epicentre of the storm",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNN2310AA--532_1458212b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147793/Killed-war-reporter-Marie-Colvin-Theyre-killing-with-impunity-here-I-need-to-be-at-the-epicentre-of-the-storm.html?iPadApp=true"
      },
      {
         "title":"Body found in double murder probe",
         "teaser":"BODY of man found today at house where double murder suspect Stephen Farrow arrested",
         "sectionheadline":"Body found in murder probe",
         "tickerheadline":"Body found in double murder probe",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/farrow_main_1458496b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4148690/Body-found-in-double-murder-probe.html?iPadApp=true"
      },
      {
         "title":"Lab MP 'arrested for decking Tory'",
         "teaser":"LABOUR MP arrested for assault after allegedly headbutting a Tory rival in a House of Commons bar",
         "sectionheadline":"Lab MP 'arrested for decking Tory'",
         "tickerheadline":"Labour MP 'arrested for decking Tory MP'",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNN2302X---5323_1458297b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147965/Labour-MP-Eric-Joyce-arrested-for-decking-Tory-MP-Stuart-Andrew.html?iPadApp=true"
      },
      {
         "title":"Girl, 9, is 'run to death' by gran for eating chocolate bar",
         "teaser":"GIRL, 9, dies after allegedly being forced to 'run to death' for eating chocolate bar",
         "sectionheadline":"Girl, 9, is 'run to death' by nan",
         "tickerheadline":"Girl, 9, is 'run to death' by gran for eating chocolate bar",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/Savannah-Hardin_53_1458380b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4148231/Girl-9-is-run-to-death-by-gran-for-eating-chocolate-bar.html?iPadApp=true"
      },
      {
         "title":"RBS reports £2bn losses for 2011...",
         "teaser":"TAXPAYER-backed RBS unveil losses of £2bn for 2011  and pays £785m in bonuses",
         "sectionheadline":"RBS reports £2bn loss for 2011",
         "tickerheadline":"RBS reports £2bn loss for 2011, but pays £785m in bonuses",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/rbs_main_1458342b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/money/4148110/RBS-reports-2bn-losses-for-2011-but-pays-785m-in-bonuses.html?iPadApp=true"
      },
      {
         "title":"Fuel wars at the pumps",
         "teaser":"SUPERMARKET giant's record price slash puts pressure on rivals like Tesco to follow suit",
         "sectionheadline":"Fuel wars at the petrol pumps",
         "tickerheadline":"Fuel wars at the pumps",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/Pump-532_1458197b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/money/4147606/Fuel-wars-at-the-pumps.html?iPadApp=true"
      },
      {
         "title":"Bouncer gets 35 years for Nikitta murder",
         "teaser":"CARL Whant stabbed to death Nikitta Grender and unborn daughhter",
         "sectionheadline":"Bouncer gets 35 years for Nikitta murder",
         "tickerheadline":"Bouncer to serve 35 years for Nikitta and baby killing",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061ea852-250_1458042b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4145744/Bouncer-to-serve-35-years-for-Nikitta-and-baby-killing.html?iPadApp=true"
      },
      {
         "title":"Murder quiz as two found dead",
         "teaser":"A TAXI driver was being quizzed last night after two elderly widows were found dead in their homes",
         "sectionheadline":"Murder quiz as two found dead",
         "tickerheadline":"Murder quiz as two old ladies are found dead",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061f5c60-250_1458140b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147307/Murder-quiz-as-two-old-ladies-found-dead.html?iPadApp=true"
      },
      {
         "title":"'I'm sick of anti-business snobbery'",
         "teaser":"PM to condemn attitude he says is threatening Britain's fragile economic recovery",
         "sectionheadline":"'I'm sick of this anti business snobbery'",
         "tickerheadline":"Cameron: I am sick of this anti business snobbery",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061fb23d-250_1458208b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/politics/4147527/Cameron-I-am-sick-of-this-anti-business-snobbery.html?iPadApp=true"
      },
      {
         "title":"Our boys to blitz Somalia pirates",
         "teaser":"BRITAIN'S top legal adviser has given the green light for UK commando raids on pirate bases in lawless Somalia",
         "sectionheadline":"Our boys to blitz Somalia pirates",
         "tickerheadline":"Our boys to blitz Somalia pirates",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061fb43b-532_1458205b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/politics/4147581/Our-boys-to-blitz-Somalia-pirates.html?iPadApp=true"
      },
      {
         "title":"The Sun's a snip at 50p",
         "teaser":"YOUR super Sun will be brimming with tasty treats - and all at a fantastic new price",
         "sectionheadline":"Weekend Sun's a snip at 50p",
         "tickerheadline":"The Sun's a snip at 50p",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/thesun_main_1458497b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4148633/The-weekend-Suns-a-snip-at-50p.html?iPadApp=true"
      },
      {
         "title":"Comedian Frank Carson dead at 85",
         "teaser":"MUCH-loved Northern Irish comic has passed away, following long battle with stomach cancer",
         "sectionheadline":"Comedian Frank Carson dead at 85",
         "tickerheadline":"Comedian Frank Carson dead at 85",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/00836c91-250_1458106b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147265/Comedian-Frank-Carson-dead-at-85.html?iPadApp=true"
      },
      {
         "title":"Jailed at last: Raider freed over 'rights'",
         "teaser":"A BURGLAR freed from jail because it breached his \"human rights\" is back behind bars after a judge sees sense",
         "sectionheadline":"Freed 'rights' raider jailed",
         "tickerheadline":"Jailed at last: Raider freed over his 'rights'",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061f4aa8-250_1458047b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147281/Jailed-at-last-Raider-freed-over-his-rights.html?iPadApp=true"
      },
      {
         "title":"British Gas makes £522m profits as prices soar",
         "teaser":"BRITISH Gas posted £522million profits last year as customer charges soared  triggering claims the energy firm were recession pro",
         "sectionheadline":"British Gas posts £522m profits",
         "tickerheadline":"British Gas makes £522m profits as prices soar",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/britsh-gas_-main_1458341b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/money/4148319/British-Gas-makes-522m-profits-as-prices-soar.html?iPadApp=true"
      },
      {
         "title":"Apache chopper hits power line",
         "teaser":"TWO Army fliers from the same air base as Prince Harry have a lucky escape",
         "sectionheadline":"Apache chopper hits power line",
         "tickerheadline":"Apache chopper down after hitting cable",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/061f2bf7-532_1458024b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147091/Apache-chopper-down-after-hitting-cable.html?iPadApp=true"
      },
      {
         "title":"Pawnbrokers over bankers",
         "teaser":"BRITAIN'S biggest mobile firm will go live with 'next generation' super-speed 4G services this year",
         "sectionheadline":"4G network is set to go live",
         "tickerheadline":"4G whizz: Super-speed phone network to go live",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNN2344A--5327_1458108b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/money/4147295/4G-whizz-Super-speed-phone-network-to-go-live.html?iPadApp=true"
      },
      {
         "title":"War plan to feed Britons plankton",
         "teaser":"SCIENTISTS had a wacky idea to feed Britons on PLANKTON to beat World War Two food shortages, research reveals",
         "sectionheadline":"Plan to feed Brits plankton",
         "tickerheadline":"War plan to feed Britons plankton",
         "image":"http://img.thesun.co.uk/multimedia/archive/01458/SNN2330A--5325_1458128b.jpg",
         "uri":"http://www.thesun.co.uk/sol/homepage/news/4147127/War-plan-to-feed-Britons-plankton.html?iPadApp=true"
      }
   ]
}
