script(type='text/javascript')
	$(document).ready( function() {
		var viewModel = {
			article: !{JSON.stringify(article)}
		};
		ko.applyBindings( viewModel );
	});

.articleWrap(data-bind="with: article")
	!=partial('partialArticle')
