.editor
	select(onchange="window.open( '/' + this.options[this.selectedIndex].value, '_top' )")
		option Select an article to edit...
		- for ( i in edition.sections )
			- for ( j in edition.sections[i].articles )
				option(value=edition.sections[i].articles[j].id)=edition.sections[i].name + ': ' + edition.sections[i].articles[j].headline

	- if ( json )
		h1=headline
		a(href="/article/" + id, target="preview") Preview Article

		form.edit(method="post")
			textarea(name="articleJson")=json
			input(type="submit",value="Save Article")
