#addToHomeScreen
#pageWrap.front
	header
		a#logo(href="/#/") 
			#todayis
			#logomessage
		#navbar
		#currentPage
			#num 1
			//
				a(href="#", onclick="teasersPanes.prev()") &laquo;
				span &nbsp;
				a(href="#", onclick="teasersPanes.next()") &raquo;
				br
				a(href="#", onclick="articlesPanes.prev()") &laquo;
				span &nbsp;
				a(href="#", onclick="articlesPanes.next()") &raquo;
	#wrap

		script#tmplNavbar(type="text/x-handlebars-template")
			{{#each pages}}
			.section(class="{{section}}")
				.singles
					{{#each teasers}}
					a(href="#/{{position}}")
					{{/each}}
				a.multi(href="#/{{section}}/{{position}}") {{section}}
			{{/each}}

		script#tmplPage(type="text/x-handlebars-template")
			.page(class="{{section}}")
				.interstitial
				{{#if adlink}}
				a.ad(href="{{adlink}}")
					img.portrait(src="{{adportrait}}")
					img.landscape(src="{{adlandscape}}")
				{{/if}}

				{{#if headline}}
				.article(class="{{#if imageportrait}}article_portrait{{/if}}")
					{{#if imagelarge}}
					.hero
						.deck	
							.strapline {{strapline}}
							.title {{headline}}
							.subdeck {{subdeck}}
						{{#if image}}
						.imgWrap
							img(src="{{image}}")
						{{/if}}
					{{/if}}
					.colRight
						.subdeck {{subdeck}}
						{{#if bylineimage}}
						.bylineWrap
								img.bylineimage(src="{{bylineimage}}")
								.byline {{byline}}
						{{else}}
						{{#if byline}}
						.byline {{{byline}}}
						{{/if}}
						{{/if}}
						{{#if quote}}
						.quote {{quote}}
						{{/if}}
						//.images
							{{#each attachments.image}}
							.imageWrap
								img(src="{{uri}}")
								{{#if caption}}
								.caption(data-bind="text: caption")
								{{/if}}
							{{/each}}
					.colLeft
						.articlecontent
							{{#unless imagelarge}}
							{{#if image}}
							img.small(src="{{image}}")
							{{/if}}
							.deck	
								.strapline {{strapline}}
								.title {{headline}}
								.subdeck {{subdeck}}
							{{/unless}}
							{{#each attachments.video}}
							//.videoWrap
								{{{src}}}
							{{/each}}
							.articlebody {{{articlebody}}}
							{{#each attachments.image}}
							img.pull(src="{{uri}}")
							{{/each}}
				{{/if}}

				{{#if teasers }}
				.teasers
					div(class="{{section}}")
						{{#each teasers}}
						.teaser(class="{{priority}} {{#if imageportrait}}portrait{{/if}}")
							div(class="{{section}}")
								a(href="#/{{position}}")
									div(class="{{section}}-extra")
									{{#if image}}
									.imgWrap
										img(src="{{image}}")
									{{/if}}
									.text
										.strapline {{strapline}}
										.title {{headline}}
										.excerpt {{teaser}}
						{{/each}}
				{{/if}}

				{{#if nibs }}
				.nibsHeader NEWS IN BRIEF...
				.teasers
					{{#each nibs}}
					.teaser.nib
						{{#if image}}
						.imgWrap
							img(src="{{image}}")
						{{/if}}
						.title {{headline}}
						.articlebody {{{articlebody}}}
					{{/each}}
				{{/if}}
		#articlesWrapper
		#teasersWrapper

script(type="text/javascript", src="./scripts/main.js")
