#addToHomeScreen
#pageWrap.front
	header
		a#logo(href="/") &nbsp;
		#navi_articles
		#currentPage
			span#num 1
	#wrap
		script#tmplNavi(type="text/x-handlebars-template")
			{{#each pages}}
			a(href="#", class="{{#if menuid}}won{{/if}}")
				div(class="{{section}} {{#if menuid}}sectionStart{{/if}}") {{menuname}}
			{{/each}}
		script#tmplArticle(type="text/x-handlebars-template")
			{{#if isArticle}}
			div(class="article{{#if imageportrait}} article_top{{/if}}")
				{{#if imagelarge}}
				.hero
					.deck	
						.strapline {{strapline}}
						.title {{headline}}
						.subdeck {{subdeck}}
					.imgWrap
						img(src="{{image}}")
				{{/if}}
				.colRight
					{{#if bylineimage}}
					.bylineWrap
							img.bylineimage(src="{{bylineimage}}")
							.byline {{byline}}
					{{else}}
					{{#if byline}}
					.byline {{byline}}
					{{/if}}
					{{/if}}
					{{#if quote}}
					.quote {{quote}}
					{{/if}}
					.images
						{{#each attachments.image}}
						.imageWrap
								img(src="{{uri}}")
								{{#if caption}}
								.caption(data-bind="text: caption")
								{{/if}}
						{{/each}}
				.colLeft
					.articlecontent
						{{#unless imagelarge}}
						img(src="{{image}}")
						.deck	
							.strapline {{strapline}}
							.title {{headline}}
							.subdeck {{subdeck}}
						{{/unless}}
						{{#each attachments.video}}
						//.videoWrap
							script(src="{{uri}}")
						{{/each}}
						.articlebody {{{articlebody}}}
			{{/if}}
			{{#if isTeasers}}
			.teasers
				div(class="{{section}}")
					{{#each teasers}}
					.teaser(class="{{priority}}")
						div(class="{{section}}")
							a(href="#/{{position}}", position="{{position}}")
								div(class="{{section}}-extra")
								{{#if image}}
								img(src="{{image}}")
								{{/if}}
								.text
									.strapline {{strapline}}
									.title {{headline}}
									.excerpt {{teaser}}
					{{/each}}
			{{/if}}
		#wrapper
		script(type="text/javascript", src="./scripts/swipeview-main.js")
