#addToHomeScreen
#pageWrap.front
	header
		a.logo(href="/") &nbsp;
		#navi_articles
		#currentPage Page&nbsp;
			span#num 1
		#debug
	#headerShadow
	#wrap
		script#tmplNavi(type="text/x-handlebars-template")
			.navi_articles
				{{#each articles}}
				a(href="#/{{section}}/{{id}}", class="{{#if menuid}}won{{/if}}")
					div(class="{{section}} {{#if menuid}}sectionStart{{/if}}") {{menuname}}
				{{/each}}
		script#tmplArticle(type="text/x-handlebars-template")
			div(class="article{{#if imageportrait}} article_top{{/if}}")
				{{#if imagelarge}}
				.hero
					.deck	
						.strapline {{strapline}}
						.title {{headline}}
						.subdeck {{subdeck}}
					.imgWrap
						img(src="{{image}}")
				{{/if}}
				.colRight
					{{#if bylineimage}}
					.bylineWrap
							img.bylineimage(src="{{bylineimage}}")
							.byline {{byline}}
					{{else}}
					{{#if byline}}
					.byline {{byline}}
					{{/if}}
					{{/if}}
					{{#if quote}}
					.quote {{quote}}
					{{/if}}
					.images
						{{#each attachments.image}}
						.imageWrap
								img(src="{{uri}}")
								{{#if caption}}
								.caption(data-bind="text: caption")
								{{/if}}
						{{/each}}
				.colLeft
					.articlecontent
						{{#unless imagelarge}}
						img(src="{{image}}")
						.deck	
							.strapline {{strapline}}
							.title {{headline}}
							.subdeck {{subdeck}}
						{{/unless}}
						.articlebody {{{articlebody}}}
		#wrapper
		script(type="text/javascript", src="./scripts/swipeview-main.js")
