!!! 5
html(lang="en")
	head
		title TheSun iPad Edition
		link(type='text/css', rel='stylesheet/less', href='/assets/css/style.less')
		- if ( locals.template )
			link(type='text/css', rel='stylesheet/less', href='/assets/css/' + locals.template + '.less')

		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(http-equiv='cleartype', content='on')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		script(type="text/javascript", src="http://use.typekit.com/vvj2ldj.js")
		script(type="text/javascript") try{Typekit.load();}catch(e){}

		script(type='text/javascript', src='/scripts/jquery.js') 
		script(type='text/javascript', src='/scripts/knockout.js')
		script(type='text/javascript', src='/scripts/knockout.mapping.js')
		script(type='text/javascript', src='/scripts/less.js')
		script(type='text/javascript', src='/scripts/swipe.js')
		script(type='text/javascript', src='/scripts/jquery.masonry.min.js')
	body
		!=body
