!!! 5
html(lang="en")
	head
		title TheSun iPad Edition
		link(type='text/css', rel='stylesheet/less', href='/assets/css/style.less')
		script(type='text/javascript', data-main='scripts/main', src='/scripts/require-jquery.js')
	body

		ul#tabSelector(data-bind="foreach: sections", class='base-tabs')
			li(data-bind="text: name")

		#tabs(data-bind="template: { name: 'articles-template' }")

		script#articles-template(type="text/html")
			ul(data-bind="foreach: articles")
				li
					img.teaser(data-bind="attr: {src: $data.teaserImg}")
					h2(data-bind="text: title")
					.teaser(data-bind="text: teaser")
					//div(data-bind="foreach: $data.attachments")
						div(data-bind="with: $data.image")
							img(data-bind="attr: { src: uri }")

