!!! 5
html(lang="en")
	head
		title TheSun iPad Edition
		link(type='text/css', rel='stylesheet/less', href='/assets/css/style.less')

		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(http-equiv='cleartype', content='on')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		script(type='text/javascript', src='/scripts/jquery.js') 
		script(type='text/javascript', src='/scripts/knockout.js')
		script(type='text/javascript', src='/scripts/knockout.mapping.js')
		script(type='text/javascript', src='/scripts/less.js')
		script(type='text/javascript', src='/scripts/swipe.js')
		script(type='text/javascript', src='/scripts/swiper.js')
		script(type='text/javascript', src='/scripts/main.js')
	body

		header
			.logo
			.nav
				a(data-bind="click: hidePages", href='#') HIDE&nbsp;|&nbsp;
				a(data-bind="click: showPages", href='#') SHOW&nbsp;|&nbsp;
				a(data-bind="click: sectionShift", href="#") SHIFT

		ul#navContentPages(data-bind="foreach: sections")
			li(data-bind="text: name, css: { on: index() == $parent.sectionOn() }")

		#seqContentPages(data-bind="template: { name: 'tmplSeqContentPages' }")
		script#tmplSeqContentPages(type="text/html")
			ul(data-bind="foreach: sections")
				li(data-bind="visible: ( index() == $parent.sectionOn() )" ) 
					.teasers(data-bind="foreach: articles")
						.teaser
							// ko foreach: $data.attachments.image
							.sizedImg(data-bind="style: { background: 'url(' + uri() + ')' }")
							// /ko
							.title(data-bind="text: title")

		ul#navArticles(data-bind="foreach: articles", class='base-tabs')
			li
				.thumb(data-bind="style: { background: 'url(' + teaserImg() + ')' }")

		#seqArticles(data-bind="template: { name: 'tmplSeqArticles' }")
		script#tmplSeqArticles(type="text/html")
			ul(data-bind="foreach: articles")
				li.article
					.title(data-bind="text: title")
					.images(data-bind="foreach: $data.attachments.image")
						img(data-bind="attr: { src: uri }")
					.articlebody(data-bind="html: articlebody")
