!!! 5
html(lang="en")
	head
		title TheSun iPad Edition
		link(type='text/css', rel='stylesheet/less', href='/assets/css/style.less')

		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(http-equiv='cleartype', content='on')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		script(type='text/javascript', src='/scripts/jquery.js') 
		script(type='text/javascript', src='/scripts/knockout.js')
		script(type='text/javascript', src='/scripts/knockout.mapping.js')
		script(type='text/javascript', src='/scripts/less.js')
		script(type='text/javascript', src='/scripts/swipe.js')
		script(type='text/javascript', src='/scripts/swiper.js')
		script(type='text/javascript', src='/scripts/main.js')
	body

		header
			a.logo(href="/#") &nbsp;
			.status
				span(data-bind="text: section") 
				&nbsp;
				span(data-bind="text: article") 

		ul#navContentPages(data-bind="foreach: sections")
			li(data-bind="attr: { id: id }") 
				a(data-bind="text: name, attr: { href: '#/' + id() }")

		#seqContentPages
			ul(data-bind="foreach: sections")
				li 
					.teasers(data-bind="foreach: articles")
						.teaser
							a(data-bind="attr: { href: '#/' + $parent.name() + '/' + id() }")
								// ko foreach: $data.attachments.image
								.sizedImg(data-bind="style: { background: 'url(' + uri() + ')' }")
								// /ko
								.title(data-bind="text: title")

		ul#navArticles(data-bind="foreach: articles", class='base-tabs')
			li(data-bind="attr: { id: id }") 
				a.thumb(data-bind="attr: { href: '#/' + section() + '/' + id() }, style: { background: 'url(' + teaserImg() + ')' }" )

		#seqArticles
			ul(data-bind="foreach: articles")
				li.article
					.title(data-bind="text: title")
					.images(data-bind="foreach: $data.attachments.image")
						img(data-bind="attr: { src: uri }")
					.articlebody(data-bind="html: articlebody")

