!!! 5
html(lang="en")
	head
		title TheSun iPad

		script(type="text/javascript", src="http://use.typekit.com/vvj2ldj.js")
		script(type="text/javascript") try{Typekit.load();}catch(e){}

		//link(type='text/css', rel='stylesheet/less', href='/assets/css/style.less?v11')
		link(type='text/css', rel='stylesheet', href='/assets/css/style.css?v11.02')

		link(rel="apple-touch-icon", href="./assets/images/apple-touch-icon.png")

		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
		meta(http-equiv='cleartype', content='on')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		script(type='text/javascript', src='/scripts/jquery.js') 
		script(type='text/javascript', src='/scripts/jquery.waitforimages.js')
		script(type='text/javascript', src='/scripts/underscore-min.js')
		//script(type='text/javascript', src='/scripts/less.js')
		script(type='text/javascript', src='/scripts/handlebars-1.0.0.beta.6.js')
		script(type='text/javascript', src='/scripts/swipeview.js')
		script(type='text/javascript', src='/scripts/jquery.masonry.min.js')
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30294741-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/u/ga_debug.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		!=body
