!!! 5
html(lang="en")
	head
		title TheSun iPad Edition
		link(type='text/css', rel='stylesheet/less', href='/stylesheets/main.less')
		script(type='text/javascript', src='/common/js/jquery-1.7.min.js') 
		script(type='text/javascript', src='/common/js/less-1.1.5.min.js')
		script(type='text/javascript', src='/common/js/knockout-2.0.0rc.js')
		script(type='text/javascript', src='/javascripts/main.js')
	body

		#sections(data-bind="foreach: sections")
			div 
				h1(data-bind="text: name")

		#articles(data-bind="foreach: articles")
			div 
				span.id(data-bind="text: id")
				span.title(data-bind="text: title")
