@colorMain: #cd0000;

@colorNews:         @colorMain;
@colorBreakingnews: @colorMain;
@colorSport:        #3fa134;
@colorShowbiz:		#4312ae; 
@colorWoman:        #c7007d;
@colorTv:           #7109aa;

@gridColumn: 239px;
@gridBorderColor: #bbb;

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;} 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

a:hover, a:active { outline:none; }

select, input, textarea, button { font:99% sans-serif; }

input, select { vertical-align:middle; }

img { border:0; max-width:100%; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

.nocallout {-webkit-touch-callout: none;} /* prevent callout */

table { margin:0; padding:0; clear:left; width:100%; border-collapse:collapse; border-spacing:0; }

table td { vertical-align:top; margin:0; }

html {
	height:100%;
}

body {
	//max-width: 1024px;
	word-wrap:break-word;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color:#000;
	background:#fff;
	font-family: chaparral-pro, serif;
	position: relative;
}

a {
	color:@colorMain;
	text-decoration: none;
}

p {
	margin-bottom:10px;
}

header {
	max-width: 1024px;
	background-color: @colorMain;
	clear: both;
	height: 46px;
	width: 100%;
	overflow: visible;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	a, a:visited {
		color: #fff;
	}
	a.logo {
		display: block;
		float: left;
		width: 129px;
		height: 46px;
		margin: 0 10px 0 0;
		padding: 0 0 0 5px;
		background-image: url('/assets/images/thesun.png');
		background-position: 4px 0;
		background-repeat: no-repeat;
	}
	.progress {
		display: block;
		float: left;
		font-size: 22px;
		font-weight: 700;
		font-style: normal;
		color: #fff;
		padding: 10px 0 0 140px;
	}
	#debug {
		position: absolute;
		top: 2px;
		right: 2px;
		font-size: 12px;
		color: #fff;
	}
	.editionPicker {
		display: none;
		position: absolute;
		top: 5px;
		right: 6px;
		color: #fff;
		text-align: right;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 17px;
	}
}

#navContentPages {
	padding: 8px 0 0 0;
	li {
		position:relative;
		font-size: 22px;
		font-weight: 700;
		font-style: normal;
		color:@colorMain;
		padding: 2px 16px 1px 15px;
		font-weight:bold;
		display:inline-block;
	}
	li.won {
	}
	li.on {
		background: #fff;
		a {
			color:@colorMain;
		}
	}
	li:first-child {
	}
}

#headerShadow {
	max-width: 1024px;
	position: fixed;
	top: 38px;
	left: 0;
	height: 20px;
	width: 100%;
	background-image: url('/assets/images/shadow.png');
	background-position: top;
	background-repeat: repeat-x;
	z-index: 3;
}

#wrap {
	position: absolute;
	top: 46px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#seqContentPages {
	padding: 0;
	margin: 0;
	li {
		border-left: 15px solid @colorMain;
		list-style-type: none; 
		list-style-position: initial; 
		list-style-image: initial; 
	}
}

.navi_articles {
	@lenNavArticles: 40px;
	padding: 6px 4px 0 10px;
	margin: 0;
	border-left: 15px solid @colorMain;
	li {
		margin: 0;
		padding: 0;
		display:inline-block;
		height: @lenNavArticles + 8;
		width:  @lenNavArticles;
		border: 4px solid #fff;
		border-top: 0;
		a.thumb {
			display: block;
			border-bottom: 4px solid #fff;
			height: @lenNavArticles;
			width:  @lenNavArticles;
			background-repeat: no-repeat;
			-webkit-background-size: auto @lenNavArticles;
		}
	}

	li.won {
		opacity: 0.4;
		background-color: #999;
	}
	li.on {
		opacity: 1;
		background-color: @colorMain;
	}
}

#navContentPages {
	border-top:0;
}

h2 {
	font-size:20px;
	margin-bottom:5px;
}

/* TEASER */

.teasers {
	display: none;
	padding: 0;
	margin: 0;
	.teaser {
		margin: 10px 0 0 10px;
		float: left;
		width: @gridColumn;
		padding: 0;
		background-color: #eee;
		img {
			width: 100%;
		}
		a {
			color: #000;	
		}
		.text {
			padding: 0 0 10px 0;
			.title {
				margin: -4px 0 0 0;
				padding: 10px 10px 5px 10px;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 23px;
				font-family: myriad-pro-condensed;
				font-weight: 900;
				font-style: normal;
			}
			.excerpt {
				font-size: 18px;
				line-height: 18px;
				font-family: chaparral-pro;
				font-weight: 400;
				font-style: normal;
				padding: 0 10px 5px 10px;
			}
		}
	}
	.top, .toptop {
		width: @gridColumn * 2 + 10;
		a {
			display: block;
			position: relative;
			min-height: 337px;
			max-height: @gridColumn * 2 + 10;
			overflow: hidden;
			background-color: #000;
		}
		img {
			width: @gridColumn * 2 + 10;
		}
		.text {
			border-left: none;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 2px 0 0 10px;
			width: @gridColumn * 2;
			background-color: rgba(0,0,0,.4);
			.title {
				font-size: 40px;
				line-height: 34px;
				letter-spacing: -1px;
				padding: 10px 5px 5px 0;
				color: #fff;
			}
			.excerpt {
				color: #fff;
				padding: 0 10px 10px 0;
			}
		}
	}
	.toptop {
		width: @gridColumn * 3 + 20;
		a {
			color: #000;	
		}
		.text {
			background-color: transparent;
			width: @gridColumn * 3;
			padding-right: 5px;
			text-align: right;
			.title {
				font-size: 80px;
				line-height: 60px;
				text-shadow: 0px 2px 10px #000;
			}
		}
		img {
			width: @gridColumn * 3 + 20;
		}
	}
}

.editor {
	height: 700px;
	padding: 20px;
	h1 {
		font-family: myriad-pro-condensed;
		font-size: 50px;
		font-weight: 900;
		font-style: normal;
	}
	form {
		height: 100%;
		textarea {
			border: 1px solid #ccc;
			margin: 10px 0 10px 2px;
			background-color: #eee;
			font-family: courier, sans;
			font-size: 14px; 
			width: 100%;
			height: 100%;
		}
	}
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
	header {
		.progress {
			padding-left: 140px;
		}
	}
	#navContentPages {
		li {
			padding: 2px 10px 1px 8px;
			padding: 2px 8px 1px  6px;
		}
	}
	#splash {
		background-image: url('http://imageserver.tmpurl.net/portrait.jpg');
		width: 768px;
		height: 978px;
	}
	.article {
		.articlebody {
			width: @gridColumn * 2 - 35;
			padding-right: 20px;
			border-right: 1px solid #ccc;
		}
		.col2{
			margin-right: 15px;
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	header {
		.progress {
			padding-left: 250px;
		}
	}
	#splash {
		background-image: url('http://imageserver.tmpurl.net/landscape.jpg');
		width: 1024px;
		height: 722px;
	}
	.article {
		.images, .articlebody {
			padding-right: 20px;
			border-right: 1px solid #ccc;
		}
	}
}

/**********************
ARTICLE
***********************/

.articleWrap {
	font-family: chaparral-pro;
	padding: 0;
	margin: 0 auto;
}
.article {
	padding: 0;
	overflow: auto;
	border-left: 15px solid @colorMain;
	.hero {
		display: inline-block;
		float:left;
		position: relative;
		.imgWrap {
			max-height: 800px;
			overflow: hidden;
			img {
				width: @gridColumn * 3 + 36;
			}
		}
		.deck {
			width: @gridColumn * 3 + 36;
			.title {
				font-size: 70px;
				line-height: 53px;
			}
		}
	}
	.deck {
		.strapline {
			color: @colorMain;
			text-transform: uppercase;
			font-size: 34px;
			font-weight: 700;
			letter-spacing: -1px;
			margin: 0 0 0 10px;
		}
		.title {
			letter-spacing: -2px;
			text-transform: uppercase;
			color: #000;
			font-family: myriad-pro-condensed;
			font-weight: 900;
			font-style: normal;
			font-size: 50px;
			line-height: 40px;
			margin: 0 0 0 10px;
		}
		.subdeck {
			color: #666;
			font-size: 34px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: -2px;
			margin: 10px 0 10px 10px;
		}
	}
	.byline {
		color: #666;
		padding: 0 0 15px 0;
		font-size: 18px;
		border-bottom: 2px solid @gridBorderColor;
	}
	.bylineWrap {
		position: relative;
		overflow: visible;
		height: 140px;
		img.bylineimage {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 125px;
			height: 140px;
		}
		.byline {
			position: absolute;
			bottom: 0;
			left: 125px;
			padding-left: 10px
		}
	}
	.articlecontent {
		margin: 0;
		img {
			float: left;
			margin: 0 15px 0 0;
		}
		.articlebody {
			line-height: 22px;
			border: 0;
			margin: 15px 0 0 15px;
			p {
				margin: 0 0 0 0;
				font-size: 20px;
				line-height: 26px;
				font-weight: 400;
				font-style: normal;
			}
			p:first-child {
				font-weight: 700;
				margin-bottom: 5px;
			}
		}
		.articlebody:first-child {
			line-height: 22px;
		}
		.articlebody:first-letter {
			display:block;
			float:left;
			margin: 36px 2px 30px -2px;
			text-transform: uppercase;
			font-size: 145px;
			font-family: myriad-pro-condensed;
			font-weight: 900;
		}
	}
	.relateds p {
		font-size: 16px;
		font-family: chaparral-pro;
		font-weight: 400;
		font-style: normal;
	}
	.images{
		margin: 100px 0 0 0;
		.imageWrap {
			img {
				width: @gridColumn - 10;
				margin: 0 0 20px 0;
			}
			.caption {
				position: absolute;
				bottom: 24px;
				right: 18px;
				width: 180px;
				padding: 8px 10px 12px 10px;
				background-color: rgba(0,0,0,.5);
				font-size: 16px;
				font-weight: 600;
				line-height: 16px;
				font-family: chaparral-pro;
				color: #fff;
			}
		}
		.imageWrap:first-child {
			display: none;
		}
	}
	.videoWrap {
		height: 300px;
	}
	.colLeft {
		float:left;
		width: @gridColumn * 3 + 24;
		border-right: 2px solid @gridBorderColor;
		padding-right: 10px;
		margin: -5px 0 0 0;
	}
	.colRight {
		width: @gridColumn - 20;
		margin: 0 20px 0 0;
		float: right;
		.quote {
			background-image: url(/assets/images/quote-open.png);
			background-repeat: no-repeat;
			font-size: 34px;
			font-weight: 300;
			line-height: 28px;
			letter-spacing: -2px;
			margin: 70px 0 0 0;
			padding: 60px 0 0 0;
		}
	}
}

.article_top {
	.hero {
		.deck {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
			width: @gridColumn * 3 + 16;
			background-color: rgba(0,0,0,.4);
			.strapline {
				color: #f2f721;
			}
			.title {
				color: #fff;
				font-size: 90px;
				line-height: 70px;
				margin: 0;
			}
			.subdeck {
				color: #fff;
				margin: 10px 0 10px 0;
			}
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
	.article {
		.hero {
			.imgWrap {
				max-height: 840px;
			}
		}
		.colLeft {
			width: @gridColumn * 2;
		}
		.colRight{
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	.article {
		.hero {
			.imgWrap {
				max-height: 640px;
			}
		}
		.colLeft {
			width: @gridColumn * 3 + 24;
		}
		.colRight{
		}
	}
}

#pageWrap.front {
	.teasers {
		.front {
			.teaser {
				.news {
					background-color: @colorMain;
					a { color: #fff; }
				}
				.sport {
					background-color: @colorSport;
					a { color: #fff; }
				}
				.woman {
					background-color: @colorWoman;
					a { color: #fff; }
				}
				.breaking-news {
					position: relative;
					.breaking-news-extra {
						position: absolute;
						top: -6px;
						left: -6px;
						width: 72px;
						height: 72px;
						background-image: url('/assets/images/breaking.png');
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
	.badge {
		position: absolute;
		left: 455px;
		top: -26px;
		width:  100px;
		height: 100px;
		background-image: url('/assets/images/star.png');
		z-index: 1;
	}
}

#pageWrap.sport {
	header { 
		background: @colorSport;
		a {
			color: #fff;
		} 
	}
	#navContentPages {
		li.on {
			a {
				color: @colorSport;
			}
		}
	}
	#seqContentPages li,
	.navi_articles,
	.article { 
		border-color: @colorSport; 
	}
}

#pageWrap.woman {
	header { 
		background: @colorWoman;
		a {
			color: #fff;
		} 
	}
	#navContentPages {
		li.on {
			a {
				color: @colorWoman;
			}
		}
	}
	#seqContentPages li,
	.navi_articles,
	.article { 
		border-color: @colorWoman; 
	}
}

