@colorMain:         #cd0000;
@colorHighlight:    #f2f721;

@colorNews:         @colorMain;
@colorSport:        #3fa134;
@colorShowbiz:		#4312ae; 
@colorWoman:        #c7007d;
@colorTv:           #ffa200;

@gridColumn: 239px;
@gridBorderColor: #bbb;

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;} 

.hideOnLoad {
	display: block;
}
.showOnLoad {
	display: none;
}
#addToHomeScreen {
	display: none;
	position: fixed;
	top: 40px;
	left: 15px;
	width: 447px;
	height: 590px;
	background-image: url('/assets/images/addToHomescreen.png');
}
#pageWrap {
	display: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

a:hover, a:active { outline:none; }

select, input, textarea, button { font:99% sans-serif; }

input, select { vertical-align:middle; }

img { border:0; max-width:100%; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

.nocallout {-webkit-touch-callout: none;} /* prevent callout */

table { margin:0; padding:0; clear:left; width:100%; border-collapse:collapse; border-spacing:0; }

table td { vertical-align:top; margin:0; }

html {
	height:100%;
}

body {
	max-width: 1024px;
	word-wrap:break-word;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color:#000;
	background:#fff;
	font-family: chaparral-pro, serif;
	position: relative;
}

a {
	color:@colorMain;
	text-decoration: none;
}

p {
	margin-bottom:10px;
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	float: left;
	width: 138px;
	height: 46px;
	margin: 0 7px 0 0;
	background-image: url('/assets/images/thesun.png');
	background-position: 4px 0;
	background-repeat: no-repeat;
	background-color: @colorMain;
	box-shadow:         0 0 7px #666;
	-webkit-box-shadow: 0 0 7px #666;
	-moz-box-shadow:    0 0 7px #666;
	z-index: 100;
	#todayis {
		display: none;
	}
}

#wrap {
	position: absolute;
	top: 46px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#navbar {
	margin:  0 0 0 139px;
	padding: 4px 4px 0 6px;
	height: 41px;
	box-shadow:         0 0 7px #666;
	-webkit-box-shadow: 0 0 7px #666;
	-moz-box-shadow:    0 0 7px #666;
	overflow: hidden;
	.section:nth-child(odd) {
		.singles {
			a {
				background-color: #ccc;
			}
		}
	}
	.section {
		display: inline-block;
		float: left;
		margin: 0 2px 0 0;
		.multi {
			display: block;
			text-transform: uppercase;
			font-family: myriad-pro-condensed;
			font-weight: 700;
			font-size: 16px;
			line-height: 17px;
			padding: 2px 0 2px 2px;
		}
		.multi.on {
			background-color: #999;
			color: #fff;
		}
		.multi.pressed {
			background-color: #666;
			color: #fff;
		}
		.singles { 
			a {
				display: inline-block;
				float: left;
				background-color: #ddd;
				padding: 2px 0 2px 0;
				width: 5px;
				height: 12px;
				border-bottom: 2px solid #fff;
			}
			a.won {
				background-color: #999;
			}
			a.on {
				background-color: #000;
			}
		}
		.news {
			color: @colorNews;
			a.won {
				background-color: @colorNews;
			}
		}
	}
	.news {
		.multi { color: @colorNews; }
		.multi.on { background-color: @colorNews; }
		.singles { a.won { background-color: @colorNews; } }
	}
	.showbiz {
		.multi { color: @colorShowbiz; }
		.multi.on { background-color: @colorShowbiz; }
		.singles { a.won { background-color: @colorShowbiz; } }
	}
	.woman {
		.multi { color: @colorWoman; }
		.multi.on { background-color: @colorWoman; }
		.singles { a.won { background-color: @colorWoman; } }
	}
	.tv {
		.multi { color: @colorTv; }
		.multi.on { background-color: @colorTv; }
		.singles { a.won { background-color: @colorTv; } }
	}
	.sport {
		.multi { color: @colorSport; }
		.multi.on { background-color: @colorSport; }
		.singles { a.won { background-color: @colorSport; } }
	}
}

#navContentPages {
	border-top:0;
}

h2 {
	font-size:20px;
	margin-bottom:5px;
}

/* TEASER */

.teasers {
	display: none;
	.teaser {
		margin: 10px 0 0 10px;
		float: left;
		width: @gridColumn;
		padding: 0;
		background-color: #eee;
		.imgWrap {
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		a {
			color: #000;	
		}
		.text {
			padding: 0 0 10px 0;
			.title {
				margin: -4px 0 0 0;
				padding: 10px 10px 5px 10px;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 23px;
				font-family: myriad-pro-condensed;
				font-weight: 900;
				font-style: normal;
			}
			.excerpt {
				font-size: 18px;
				line-height: 18px;
				font-family: chaparral-pro;
				font-weight: 400;
				font-style: normal;
				padding: 0 10px 5px 10px;
			}
		}
	}
	.top {
		width: @gridColumn * 2 + 10;
		a {
			display: block;
			position: relative;
			min-height: 337px;
			max-height: @gridColumn * 2 + 10;
			overflow: hidden;
			background-color: #000;
		}
		img {
			width: @gridColumn * 2 + 10;
		}
		.text {
			border-left: none;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 2px 0 0 10px;
			width: @gridColumn * 2;
			background-color: rgba(0,0,0,.4);
			.title {
				font-size: 40px;
				line-height: 34px;
				letter-spacing: -1px;
				padding: 10px 5px 5px 0;
				color: #fff;
				text-shadow: 0px 2px 10px #000;
			}
			.excerpt {
				color: #fff;
				padding: 0 10px 10px 0;
			}
		}
	}
	.top_0 {
		width: @gridColumn * 3 + 20;
		a {
			color: #000;	
		}
		.text {
			background-color: transparent;
			width: @gridColumn * 3;
			padding-right: 5px;
			.title {
				font-size: 80px;
				line-height: 60px;
				text-shadow: 0px 2px 10px #000;
				margin: 0 0 5px 0;
			}
			.excerpt {
				font-size: 34px;
				font-weight: 400;
				line-height: 28px;	 
			}
		}
		img {
			width: @gridColumn * 3 + 20;
		}
	}
}

.editor {
	height: 700px;
	padding: 20px;
	h1 {
		font-family: myriad-pro-condensed;
		font-size: 50px;
		font-weight: 900;
		font-style: normal;
	}
	form {
		height: 100%;
		textarea {
			border: 1px solid #ccc;
			margin: 10px 0 10px 2px;
			background-color: #eee;
			font-family: courier, sans;
			font-size: 14px; 
			width: 100%;
			height: 100%;
		}
	}
}

/*
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
*/

@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
	.article {
		.articlebody {
			width: @gridColumn * 2 - 35;
			padding-right: 20px;
			border-right: 1px solid #ccc;
		}
		.col2{
			margin-right: 15px;
		}
	}
	.teasers {
		.top_0 {
			.imgWrap {
				max-height: 727px;
			}
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	#navbar {
		.section {
			.singles {
				a {
					width: 7px;
				}
			}
		}
	}
	.article {
		.images, .articlebody {
			padding-right: 20px;
			border-right: 1px solid #ccc;
		}
	}
	.teasers {
		.top_0 {
			.imgWrap {
				max-height: 518px;
			}
		}
		.top_3 {
			display: none;
		}
	}
}

.page {
	border-left: 15px solid @colorMain;
}

/**********************
ARTICLE
***********************/

.articleWrap {
	font-family: chaparral-pro;
	padding: 0;
	margin: 0 auto;
}
.article {
	padding: 0;
	overflow: auto;
	.hero {
		display: inline-block;
		float:left;
		position: relative;
		margin: 14px 0 0 0;
		.imgWrap {
			max-height: 800px;
			overflow: hidden;
			img {
				width: @gridColumn * 3 + 36;
			}
		}
		.deck {
			width: @gridColumn * 3 + 36;
			.title {
				font-size: 70px;
				line-height: 53px;
			}
		}
	}
	.deck {
		.strapline {
			color: @colorMain;
			text-transform: uppercase;
			font-size: 34px;
			font-weight: 700;
			letter-spacing: -1px;
			margin: 0 0 0 10px;
		}
		.title {
			letter-spacing: -2px;
			text-transform: uppercase;
			color: #000;
			font-family: myriad-pro-condensed;
			font-weight: 900;
			font-style: normal;
			font-size: 50px;
			line-height: 40px;
			margin: 0 0 0 10px;
		}
		.subdeck {
			color: #666;
			font-size: 34px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: -2px;
			margin: 10px 0 10px 10px;
		}
	}
	.byline {
		color: #666;
		padding: 0 0 15px 0;
		font-size: 18px;
		border-bottom: 2px solid @gridBorderColor;
	}
	.bylineWrap {
		position: relative;
		overflow: visible;
		height: 140px;
		img.bylineimage {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 125px;
			height: 140px;
		}
		.byline {
			position: absolute;
			bottom: 0;
			left: 125px;
			padding-left: 10px
		}
	}
	.articlecontent {
		margin: 0;
		margin: 20px 0 0 15px;
		img {
			float: left;
			margin: 0 15px 0 0;
		}
		.articlebody {
			line-height: 22px;
			border: 0;
			p {
				margin: 0 0 0 0;
				font-size: 20px;
				line-height: 26px;
				font-weight: 400;
				font-style: normal;
			}
			p:first-child {
				font-weight: 700;
				margin-bottom: 5px;
			}
		}
		.articlebody:first-child {
			line-height: 22px;
		}
		.articlebody:first-letter {
			display:block;
			float:left;
			margin: 36px 2px 30px -2px;
			text-transform: uppercase;
			font-size: 145px;
			font-family: myriad-pro-condensed;
			font-weight: 900;
		}
	}
	.relateds p {
		font-size: 16px;
		font-family: chaparral-pro;
		font-weight: 400;
		font-style: normal;
	}
	.images{
		margin: 100px 0 0 0;
		.imageWrap {
			img {
				width: @gridColumn - 10;
				margin: 0 0 20px 0;
			}
			.caption {
				position: absolute;
				bottom: 24px;
				right: 18px;
				width: 180px;
				padding: 8px 10px 12px 10px;
				background-color: rgba(0,0,0,.5);
				font-size: 16px;
				font-weight: 600;
				line-height: 16px;
				font-family: chaparral-pro;
				color: #fff;
			}
		}
		.imageWrap:first-child {
			display: none;
		}
	}
	.videoWrap {
		height: 300px;
	}
	.colLeft {
		float:left;
		width: @gridColumn * 3 + 24;
		border-right: 2px solid @gridBorderColor;
		padding-right: 10px;
		margin: -5px 0 0 0;
	}
	.colRight {
		width: @gridColumn - 20;
		margin: 0 20px 0 0;
		padding: 15px 0;
		float: right;
		.quote {
			background-image: url(/assets/images/quote-open.png);
			background-repeat: no-repeat;
			font-size: 34px;
			font-weight: 300;
			line-height: 28px;
			letter-spacing: -2px;
			margin: 70px 0 0 0;
			padding: 60px 0 0 0;
		}
	}
}

.article_portrait {
	.hero {
		margin: 0;
		.deck {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
			width: @gridColumn * 3 + 16;
			background-color: rgba(0,0,0,.4);
			.strapline {
				color: @colorHighlight;
			}
			.title {
				color: #fff;
				font-size: 90px;
				line-height: 70px;
				margin: 0;
			}
			.subdeck {
				color: #fff;
				margin: 10px 0 10px 0;
			}
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
	.article {
		.hero {
			.imgWrap {
				max-height: 830px;
			}
		}
		.colLeft {
			width: @gridColumn * 2;
		}
		.colRight{
		}
	}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	.article {
		.hero {
			.imgWrap {
				max-height: 656px;
			}
		}
		.colLeft {
			width: @gridColumn * 3 + 24;
		}
		.colRight{
		}
	}
}

.teasers {
		.top_0 {
			.news {
				background-color: @colorMain;
				a { color: #fff; }
			}
			.sport {
				background-color: @colorSport;
				a { color: #fff; }
			}
			.woman {
				background-color: @colorWoman;
				a { color: #fff; }
			}
			.tv {
				background-color: @colorTv;
				a { color: #fff; }
			}
			.breaking-news {
				position: relative;
				.breaking-news-extra {
					position: absolute;
					top: -6px;
					left: -6px;
					width: 72px;
					height: 72px;
					background-image: url('/assets/images/breaking.png');
					background-repeat: no-repeat;
				}
			}
		}
}

#pageWrap.front {
	header {
		height: 96px;
	}
	#logo { 
		background-image: url('/assets/images/thesun-large.png');
		width: 268px;
		height: 110px;
		#todayis {
			display: block;
			color: #fff;
			position: absolute;
			bottom: 2px;
			right: 26px;
			font-size: 18px;
			font-weight: 700;
		}
	}
	#navbar {
		margin:  0 0 0 278px;
		.singles {
			display: none
		}
		.multi {
			float: left;
			margin: 13px 20px 0 0;
			padding: 3px 4px;
			font-size: 22px;
		}
	}
}

#pageWrap.sport {
	#logo { 
		background-color: @colorSport;
		background-image: url('/assets/images/thesun-sport.png');
	}
	.page {
		border-left-color: @colorSport;
	}
}

#pageWrap.showbiz {
	#logo { 
		background-color: @colorShowbiz;
		background-image: url('/assets/images/thesun-showbiz.png');
	}
	.page {
		border-left-color: @colorShowbiz;
	}
}

#pageWrap.woman {
	#logo { 
		background-color: @colorWoman;
		background-image: url('/assets/images/thesun-woman.png');
	}
	.page {
		border-left-color: @colorWoman;
	}
}

#pageWrap.tv {
	#logo { 
		background-color: @colorTv;
		background-image: url('/assets/images/thesun-tv.png');
	}
	.page {
		border-left-color: @colorTv;
	}
}

/* SWIPER */

#currentPage {
    position:absolute;
    top: 28px;
    right: 4px;
	text-transform: uppercase;
	font-family: myriad-pro-condensed;
	font-size: 15px;
	line-height: 12px;
	letter-spacing: 1px;
	color: #999;
}

#teasersWrapper,
#articlesWrapper {
    max-width: 1024px;
    height: 4000px;
    overflow: visible;
}
