html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;} 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

a:hover, a:active { outline:none; }

select, input, textarea, button { font:99% sans-serif; }

input, select { vertical-align:middle; }

img { border:0; max-width:100%; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

.nocallout {-webkit-touch-callout: none;} /* prevent callout */

table { margin:0; padding:0; clear:left; width:100%; border-collapse:collapse; border-spacing:0; }

table td { vertical-align:top; margin:0; }

html {
	height:100%;
}

body {
	font:13px sans-serif; 
	word-wrap:break-word;
	margin:0 auto;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color:#3c3c3c;
	background:#fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

a {
	color:#cd0000;
	text-decoration: none;
}

p {
	margin-bottom:16px;
}

header {
	position: relative;
	background: #cd0000;
	a, a:visited {
		color: #fff;
	}
	.logo {
		width: 166px;
		height: 63px;
		background-image: url('/assets/images/sprite_01.png');
	}
	.nav {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.base-tabs {
	background:#F5F6F7;
	border-bottom:4px #cd0000 solid;
	padding:5px 4px 0;
	li {
		position:relative;
		top:1px;
		font-size:13px;
		text-transform: uppercase;
		font-weight: bold;
		color:#cd0000;
		padding:6px 12px 5px;
		margin:0 0 0 2px;
		font-weight:bold;
		display:inline-block;
	}
	li.on {
		background: #cd0000;
		padding:6px 12px;
		color:#fff;
	}
}


p {
	font-size: 14px;
}

#navContentPages {
	border-top:0;
}

h2 {
	font-size:20px;
	margin-bottom:5px;
}

/* TEASER */

.teasers {
	@lenTeaserSq: 256px;
	padding: 0;
	.teaser {
		position: relative;
		float: left;
		width: @lenTeaserSq;
		height: @lenTeaserSq;
	}
	.sizedImg {
		position: absolute;
		top: 0;
		left: 0;
		width: @lenTeaserSq;
		height: @lenTeaserSq;
		background-repeat: no-repeat;
		background-color: #EEE;
		-webkit-background-size: auto @lenTeaserSq;
	}
	.title {
		position: absolute;
		bottom: 0;
		left: right;
		padding: 10px;
		text-align: right;
		font-size: 26px;
		line-height: 24px;
		color: #fff;
		font-weight: bold;
		background: rgba(0,0,0, 0.4);
	}
}

/* ARTICLE */
.article {
	@lenTeaserSq: 256px;
	padding: 10px;
	p {
	}
	.title {
		padding: 10px 0;
		font-size: 36px;
		font-weight: bold;
	}
	.images img{
		display: block;
	}
}
